* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 75 px;
  line-height: 75px;
  padding: 0px, 100;
  background-color: #475276;
}
header h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
nav li {
  display: inline-block;
}
nav li a {
  font-size: 24px;
  color: white;
  padding: 0px, 30px;
  text-decoration: none;
}
nav li a:hover {
  color: aqua;
  transition: all 0.4s ease 0s;
}

.bg-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  font-size: 64px;
  text-shadow: 1px 1px 2px black;
  color: #090255;
  text-decoration: underline solid #090255 1.5px;
  background-image: url(images/Uranus3.jpg);
  background-size: cover;
}

/* Overview section */

.overview {
  background-color: #7983aa;
  color: #f2f2f2;
  padding: 10px 0;
}
.overview-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 4px solid #d4a418;
  border-left: 4px solid #d4a418;
  padding-left: 10px;
}
.overview-full {
  display: flex;
  justify-content: space-evenly;
}
.overview-img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 3px 5px black;
}

section li {
  padding: 10px 0;
}

/*''''''*/

/*Climate section*/

.climate {
  background-color: #e7efff;
  color: black;
  padding: 10px 0;
}

.climate-full {
  display: flex;
  justify-content: space-evenly;
}
.climate-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  border-bottom: 4px solid #d4a418;
  border-right: 4px solid #d4a418;
  padding-bottom: 10px;
  padding-right: 10px;
}

.climate-img {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 4px 4px 3px 5px black;
}

#climate-bigword {
  text-decoration: underline 1px solid;
  font-size: 24px;
}

section h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 40px;
}
/*''''''''''*/

/*Gallery Section*/
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}
.gallery-img {
  height: 100px;
  border-radius: 20px;
  transition: 0.5s;
}

.gallery-img:hover {
  height: 300px;
  width: 300px;
}
/*''''''''*/

/* FunFackts section*/

.FunFacts {
  background-color: #e7efff;
  padding: 20px 20px;
  color: black;
}
.FunFacts h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.fullbox {
  display: flex;
  justify-content: center;
}
.box1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}
.box2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}
.box1,
.box2 p {
  font-size: 14px;
}
span {
  font-size: 24px;
  font-weight: 35px;
}

.fimage {
  height: 200px;
  width: 400px;
}
