* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 75 px;
  line-height: 75px;
  padding: 0px, 100;
  background-color: #475276;
}
header h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
nav li {
  display: inline-block;
}
nav li a {
  font-size: 24px;
  color: white;
  padding: 0px, 30px;
  text-decoration: none;
}
nav li a:hover {
  color: aqua;
  transition: all 0.4s ease 0s;
}

.bg-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 45px;
  color: #090255;
  text-decoration: underline solid #090255 1.5px;
  background-image: url(images/Uranus3.jpg);
  background-size: cover;
}

/* Overview section */

.overview {
  background-color: #7983aa;
  color: #f2f2f2;
  padding: 10px 0;
}
.overview-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}
.overview-full {
  display: flex;
  justify-content: space-evenly;
}
.overview-img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 3px 5px black;
}

section li {
  padding: 10px 0;
}

/*''''''*/
